body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f1f3f6;
}

.user-details{
    width: 55%;
    height: 80vh;
    background-color: #fff;
    margin: 50px 10px 10px 70px;
    padding: 10px 50px 30px;
    border-radius: 10px;
}

.user-details h4{
    font-size: 1.4rem;
    padding-left: 15px;
    text-transform: capitalize;
}

.input-field input{
    width: 300px;
    margin: 10px;
    height: 35px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.input-field select{
    width: 315px;
    margin: 10px;
    height: 47px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.address-field{
    width: 640px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.delivery-spot{
    padding-top: 30px;
    padding-left: 20px;
}

.delivery-spot label{
    margin-right: 40px;
}

.submit{
    position: absolute;
    right: 125px;
    bottom: 195px;
}

.submit input{
    width: 233px;
    background-color: #fb641b;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 15px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.phn-price-details{
    width: 25%;
    height: 43vh;
    background-color: #fff;
    margin: 50px 40px 10px 20px;
    /* padding: 10px 50px 30px; */
    border-radius: 10px;
}

.phn-price-details h3{
    font-size: 1.5rem;
    padding-left: 20px;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
}


.phn-price{
    width: 90%;
    margin: auto;
}


.phn-price h4{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.prices{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed #e3e3e3;
    padding: 0 13px 20px;
}

.prices p{
    width: 50%;
    height: 0;
    font-size: 18px;
    font-weight: bold;
}

.prices p:nth-child(even){
    text-align: right;
}

.total-price{
    display: flex;
    padding: 0 15px;
}

.total-price h4{
    width: 50%;
    font-size: 20px;
    margin-top: 12px;
}

.total-price h4:nth-child(even){
    text-align: right;
}